.client-title {
  @include font(700, 28px, 33px);
  color: var(--main-text-color);

  margin-bottom: 30px;
}

.companies-list {
  @extend %align;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;

  &-items {
    width: 210px;
    height: 92px;
    @extend %align;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    flex-basis: calc((100% - 60px) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }
}

.companies-link {
  margin: auto;
  fill: var(--icons-color);
  border: none;
  width: 106px;
  height: 60px;

  @include transition(border);
  @include transition(fill);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
    outline: none;
  }
}

.client-title {
  @include font(700, 28px, 33px);
  text-align: center;
  color: var(--main-text-color);

  margin-bottom: 50px;
}

//768+
@media screen and (min-width: 768px) {
  .companies-list {
    &-items {
      flex-basis: calc((100% - 90px) / 3);
    }
  }
}

//1200+
@media screen and (min-width: 1200px) {
  .companies-list {
    margin-top: 0;
    margin-left: 0;
    flex-wrap: unset;
    &-items {
      margin-top: 0;
      margin-left: 0;
      flex-basis: unset;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
  .client-title {
    margin-bottom: 50px;
  }
}
