.footer {
  background-color: var(--background-color);
}

//768+
@media screen and (min-width: 768px) {
  .footer-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}

//1200+
@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer-content {
    &:not(:last-child) {
      margin-right: 70px;
    }
    &:last-child {
      margin-right: 93px;
    }
  }
}
