.footer-container {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-content:not(:last-child) {
  margin-right: 70px;
}

.footer-links {
  background-color: var(--background-color);
}
