:root {
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --acent-text-color: #ffffff;
  --background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --icons-color: #afb1b8;
  --secondary-icons-color: #000;
  --secondary-bg-color: #188ce8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
